@{
    ViewBag.Title = "房间早餐数据导入";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title  </h1>
                <h2>IMPORT DATA</h2>
            </hgroup>
        </div>
    </section>
}

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("History", "Report", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-success">确认</button>
        }
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        &nbsp;
    </div>
</div>