@{
    ViewBag.Title = "首 页";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>使用指南:</h3>
<ol class="round">
    <li class="one">
        <p>请使用各自部门的账户进行登录操作。</p><br/>
    </li>

    <li class="two">
        <p>帐号的开通及部门修改请与系统管理员联系。</p><br />
    </li>

    <li class="three">
        <p>客房预订数据每日由前厅部导入。</p><br />
    </li>
</ol>
